---
import { Image } from "astro:assets";
import PortraitGary from "../images/portrait-gary.png";
import PortraitJakob from "../images/portrait-jakob.png";
import PortraitLisa from "../images/portrait-lisa.png";
import PortraitMarcin from "../images/portrait-marcin.png";
import PortraitRalf from "../images/portrait-ralf.png";
import PortraitVanessa from "../images/portrait-vanessa.png";
import Fire from "./Fire.astro";
import IconCard from "./common/IconCard.astro";

const musicians = [
    {
        img: PortraitLisa,
        name: "Lisa Martinez",
        role: "Vocal"
    },
    {
        img: PortraitRalf,
        name: "Ralf Kienle",
        role: "Bass, Vocal"
    },
    {
        img: PortraitVanessa,
        name: "Vanessa Chase",
        role: "Vocal"
    },
    {
        img: PortraitMarcin,
        name: "Marcin Novac",
        role: "Guitar, Vocal"
    },
    {
        img: PortraitGary,
        name: "Gary Doessel",
        role: "Keyboard"
    },
    {
        img: PortraitJakob,
        name: "Jakob Peter",
        role: "Drums"
    }
];
---

<section class="max-content-width">
    <p class="pre-heading">Die Band</p>
    <h2>Sechs Multitalente aus Berlin</h2>
    <div class="content">
       <div class="content-text">
           <p>
               Als <span class="accent">Wild Flamingo Coverband</span> begeistern wir
               mit unseren zwei erstklassigen Leadsängerinnen und vier Bandmitgliedern
               jedes Publikum auf Firmenparties und anderen Events.
           </p>
           <p>
               Seit mehr als zwei Jahrzehnten führen wir außerdem
               <span class="accent">monatlich 400 Gäste</span> musikalisch durch eine
               Kult-Show im legendären SO36 in Berlin.
           </p>
        </div>
        <div class="content-musicians">
            <div class="content-musicians musicians">
                {musicians.map((musician, i) => (
                    <figure>
                        <Fire animationDelay={`${i}s`}/>
                        <Image src={musician.img} alt={musician.name} width={200}/>
                        <figcaption>
                            <strong>{musician.name}</strong>
                            {musician.role}
                        </figcaption>
                    </figure>
                ))}
            </div>
        </div>
        <div class="content-features">
            <IconCard title="Liveband für jedes Event" iconName="solar:wineglass-triangle-bold-duotone">
                Wir zeichnen uns durch <span class="accent">sichtbare und spürbare Begeisterung</span> aus,
                die wir live und virtuos zum Ausdruck bringen.
                Die Intensität und Präsenz unserer Performance verwandelt
                großartige Songs in eine <span class="accent">mitreißende Live-Show</span> und macht Ihre
                Party zu einem unvergesslichen Fest.
            </IconCard>
            <IconCard title="20 Jahre Erfahrung" iconName="solar:microphone-bold-duotone">
                Unsere Bandmitglieder bringen ein solides Fundament von <span class="accent">mehr
                als 20 Jahren Erfahrung</span> im nationalen und internationalen
                Entertainment mit.
            </IconCard>
            <IconCard title="Funk • Soul • Pop" iconName="solar:music-note-bold-duotone">
                Mit unseren zwei <span class="accent">First Class Leadsängerinnen</span> performen wir
                Pop-, Soul- & Funkhits z.B. von Beyoncé, Michael Jackson,
                Gloria Estefan, Alicia Keys, Amy Winehouse, James Brown, u.v.m.
            </IconCard>
        </div>
    </div>
</section>

<style lang="scss">
    .content {
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(min(470px, 100%), 1fr));

        .content-musicians {
            grid-row: span 2;
        }
    }

    .musicians {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(max(200px, calc((100% - 120px) / 3)), 1fr));
        gap: 60px;
        justify-items: center;
        max-width: 800px;
        margin: auto;
        margin-top: 4rem;
    }

    figure {
        margin: 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 13px 0;
            aspect-ratio: 1 / 1;
            background: radial-gradient(
                circle at 50% 70%,
                rgba(var(--accent), .3),
                rgba(var(--background), .8) 70%
            );
            border-radius: 1000px;
            z-index: -1;
        }

        @for $i from 1 through 6 {
            &:nth-child(#{$i})::before {
                animation-delay: #{$i * -1}s;
            }
        }

        img {
            border-radius: 1000px;
        }

        figcaption {
            color: white;
            padding: 1rem 1.2rem 1rem;
            line-height: 1.2;
            width: fit-content;
            margin: auto;
            margin-top: 0%;
            z-index: 1;
            position: relative;
        }

        strong {
            display: block;
        }

        .fire {
            position: absolute;
            top: -30px;
            left: -10px;
            z-index: -2;
            border-radius: 0 0 100% 100%;
        }
    }

    h2 {
        max-width: 42rem;
    }

    p {
        max-width: 42rem;
    }

    .accent {
        color: rgb(var(--accent));
    }
</style>