---
import { Image, getImage } from "astro:assets";
import ActionButton from "./ActionButton.astro";
import LogoFrontTop from "../images/logo-front-top.svg";
import LogoFrontBottom from "../images/logo-front-bottom.svg";
import LogoBack from "../images/logo-back.svg";
import LogoBackSolid from "../images/logo-back-solid.svg";
import LogoBackText from "../images/logo-back-text.svg";

const optimizedLogoBack = await getImage({ src: LogoBackSolid });
const optimizedLogoBackText = await getImage({ src: LogoBackText });
---

<div class="header">
    <video autoplay muted loop playsinline
        style=`mask-image: url(${optimizedLogoBack.src}), url(${optimizedLogoBackText.src})`
    >
        <source src="showreel.mp4" type="video/mp4">
    </video>
    <Image class="logo-top" src={LogoFrontTop} alt="Wild"/>
    <Image class="logo-bottom" src={LogoFrontBottom} alt="Flamingo"/>
    <div class="content">
        <h1>
            <Image class="logo-back" src={LogoBack} alt=""/>
            <Image class="logo-top" src={LogoFrontTop} alt=""/>
            <Image class="logo-bottom" src={LogoFrontBottom} alt=""/>
        </h1>
        <strong>Showband mit No.1 Soulhits und Funkhits</strong>
        <p>
            Wir machen eure Veranstaltung mit unserem unwiderstehlichen Mix aus
            Pop, Soul und Funkhits zu einem unvergesslichen Erlebnis.
        </p>
        <div class="button-container">
            <ActionButton/>
        </div>
    </div>
</div>

<style lang="scss">
    .header {
        --animation-duration: 2s;
        --animation-delay: 2s;

        display: grid;
        grid-template-areas: "overlay";
        align-items: flex-start;
        width: 100%;
        margin-bottom: 8rem;
        transform-origin: center top;
        transform: translateY(40vh) scale(0.5);
        animation: container-intro var(--animation-duration) forwards calc(var(--animation-delay) * 1.5) 1;
        position: relative;

        @media (max-width: $sm) {
            --animation-delay: 1s;
            transform: translateY(40vh) scale(0.75);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(
                circle at left 20%,
                rgba(var(--background), .9) 30%,
                rgba(var(--background), 0) 70%
            );
            opacity: 0;
            animation: darkness-intro 3s forwards calc(var(--animation-delay) + var(--animation-duration)) 1;
        }
    }

    img {
        grid-area: overlay;
        display: block;
        width: 100%;
        height: auto;

        &.logo-top {
            animation: logo-top-intro var(--animation-duration) forwards var(--animation-delay) 1;
        }

        &.logo-bottom {
            animation: logo-bottom-intro var(--animation-duration) forwards var(--animation-delay) 1;
        }
    }

    video {
        grid-area: overlay;
        width: 100%;
        height: auto;
        min-height: 100vh;
        object-fit: cover;
        mask-repeat: no-repeat;
        mask-position: 50% 0%;
        mask-composite: subtract;
        animation: video-intro var(--animation-duration) forwards var(--animation-delay) 1;
    }

    .content {
        position: absolute;
        left: 10%;
        top: 50%;
        translate: 0 -50%;
        width: 600px;
        max-width: 80%;
        color: white;
        z-index: 1;
        scale: 1.5;
        transform-origin: center 70%;
        animation: content-intro 2s forwards calc(var(--animation-delay) + var(--animation-duration)) 1;
    }

    h1 {
        display: grid;
        grid-template-areas: "overlay";

        img {
            width: 100%;
            height: auto;

            &.logo-back {
                clip-path: inset(20% 100% round 16px);
                animation: logo-final-intro 2.5s forwards calc(var(--animation-delay) + var(--animation-duration) + 1.5s) 1;
            }

            &.logo-top, &.logo-bottom {
                clip-path: inset(200% 0 0 0);
                animation: logo-final-intro 1s forwards calc(var(--animation-delay) + var(--animation-duration) + 1s) 1;
                z-index: 1;
            }
        }
    }

    strong {
        display: block;
        font-size: 1.5rem;
        clip-path: inset(0 100% 0 0);
        animation: logo-final-intro .5s forwards calc(var(--animation-delay) + var(--animation-duration) + 2.5s) 1;
    }

    p {
        font-size: 1.2rem;
        clip-path: inset(0 100% 0 0);
        animation: logo-final-intro .5s forwards calc(var(--animation-delay) + var(--animation-duration) + 2.75s) 1;
    }

    .button-container {
        width: fit-content;
        margin-left: auto;
        margin-top: 4rem;
        opacity: 0;
        animation: darkness-intro .3s forwards calc(var(--animation-delay) + var(--animation-duration) + 3s) 1;
    }

    @keyframes container-intro {
        to {
            transform: translateY(0) scale(1);
        }
    }

    @keyframes video-intro {
        from {
            mask-position: 50% 0, 50% 0;
        }
        40% {
            mask-position: 50% 0, 50% 300%;
        }
        60% {
            mask-size: 100%, auto;
        }
        to {
            mask-position: 50% 76%, 50% 300%;
            mask-size: 3000%, auto;
        }
    }

    @keyframes logo-top-intro {
        from {
            transform: translateY(0%) scale(1);
            clip-path: inset(0 0 63% 0);
        }
        to {
            transform: translateY(100%) scale(.75);
            clip-path: inset(0 0 170% 0);
            display: none;
        }
    }

    @keyframes logo-bottom-intro {
        from {
            clip-path: inset(0 0 0 0);
        }
        to {
            transform: translateY(100%) scale(.75);
            clip-path: inset(0 0 170% 0);
            display: none;
        }
    }

    @keyframes logo-final-intro {
        to {
            clip-path: inset(0 0 0 0);
        }
    }

    @keyframes content-intro {
        to {
            scale: 1;
        }
    }

    @keyframes darkness-intro {
        to {
            opacity: 1;
        }
    }
</style>